nifi/templates/RabbitMQPostgres.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template encoding-version="1.3">
    <description></description>
    <groupId>d08a66b9-0174-1000-6e19-fea9c3478b62</groupId>
    <name>RabbitMQPostgres</name>
    <snippet>
        <controllerServices>
            <id>74b96cb3-183e-39ac-0000-000000000000</id>
            <parentGroupId>0cd40022-3c35-3b40-0000-000000000000</parentGroupId>
            <bundle>
                <artifact>nifi-dbcp-service-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.12.0</version>
            </bundle>
            <comments></comments>
            <descriptors>
                <entry>
                    <key>Database Connection URL</key>
                    <value>
                        <name>Database Connection URL</name>
                    </value>
                </entry>
                <entry>
                    <key>Database Driver Class Name</key>
                    <value>
                        <name>Database Driver Class Name</name>
                    </value>
                </entry>
                <entry>
                    <key>database-driver-locations</key>
                    <value>
                        <name>database-driver-locations</name>
                    </value>
                </entry>
                <entry>
                    <key>kerberos-credentials-service</key>
                    <value>
                        <identifiesControllerService>org.apache.nifi.kerberos.KerberosCredentialsService</identifiesControllerService>
                        <name>kerberos-credentials-service</name>
                    </value>
                </entry>
                <entry>
                    <key>kerberos-principal</key>
                    <value>
                        <name>kerberos-principal</name>
                    </value>
                </entry>
                <entry>
                    <key>kerberos-password</key>
                    <value>
                        <name>kerberos-password</name>
                    </value>
                </entry>
                <entry>
                    <key>Database User</key>
                    <value>
                        <name>Database User</name>
                    </value>
                </entry>
                <entry>
                    <key>Password</key>
                    <value>
                        <name>Password</name>
                    </value>
                </entry>
                <entry>
                    <key>Max Wait Time</key>
                    <value>
                        <name>Max Wait Time</name>
                    </value>
                </entry>
                <entry>
                    <key>Max Total Connections</key>
                    <value>
                        <name>Max Total Connections</name>
                    </value>
                </entry>
                <entry>
                    <key>Validation-query</key>
                    <value>
                        <name>Validation-query</name>
                    </value>
                </entry>
                <entry>
                    <key>dbcp-min-idle-conns</key>
                    <value>
                        <name>dbcp-min-idle-conns</name>
                    </value>
                </entry>
                <entry>
                    <key>dbcp-max-idle-conns</key>
                    <value>
                        <name>dbcp-max-idle-conns</name>
                    </value>
                </entry>
                <entry>
                    <key>dbcp-max-conn-lifetime</key>
                    <value>
                        <name>dbcp-max-conn-lifetime</name>
                    </value>
                </entry>
                <entry>
                    <key>dbcp-time-between-eviction-runs</key>
                    <value>
                        <name>dbcp-time-between-eviction-runs</name>
                    </value>
                </entry>
                <entry>
                    <key>dbcp-min-evictable-idle-time</key>
                    <value>
                        <name>dbcp-min-evictable-idle-time</name>
                    </value>
                </entry>
                <entry>
                    <key>dbcp-soft-min-evictable-idle-time</key>
                    <value>
                        <name>dbcp-soft-min-evictable-idle-time</name>
                    </value>
                </entry>
            </descriptors>
            <name>DBCPConnectionPool Postgres</name>
            <persistsState>false</persistsState>
            <properties>
                <entry>
                    <key>Database Connection URL</key>
                    <value>${postgres.url}</value>
                </entry>
                <entry>
                    <key>Database Driver Class Name</key>
                    <value>${postgres.driverclassname}</value>
                </entry>
                <entry>
                    <key>database-driver-locations</key>
                    <value>${postgres.drivepath}</value>
                </entry>
                <entry>
                    <key>kerberos-credentials-service</key>
                </entry>
                <entry>
                    <key>kerberos-principal</key>
                </entry>
                <entry>
                    <key>kerberos-password</key>
                </entry>
                <entry>
                    <key>Database User</key>
                    <value>${postgres.username}</value>
                </entry>
                <entry>
                    <key>Password</key>
                </entry>
                <entry>
                    <key>Max Wait Time</key>
                    <value>500 millis</value>
                </entry>
                <entry>
                    <key>Max Total Connections</key>
                    <value>8</value>
                </entry>
                <entry>
                    <key>Validation-query</key>
                </entry>
                <entry>
                    <key>dbcp-min-idle-conns</key>
                    <value>0</value>
                </entry>
                <entry>
                    <key>dbcp-max-idle-conns</key>
                    <value>8</value>
                </entry>
                <entry>
                    <key>dbcp-max-conn-lifetime</key>
                    <value>-1</value>
                </entry>
                <entry>
                    <key>dbcp-time-between-eviction-runs</key>
                    <value>-1</value>
                </entry>
                <entry>
                    <key>dbcp-min-evictable-idle-time</key>
                    <value>30 mins</value>
                </entry>
                <entry>
                    <key>dbcp-soft-min-evictable-idle-time</key>
                    <value>-1</value>
                </entry>
            </properties>
            <state>ENABLED</state>
            <type>org.apache.nifi.dbcp.DBCPConnectionPool</type>
        </controllerServices>
        <processGroups>
            <id>f82ae498-d34f-351a-0000-000000000000</id>
            <parentGroupId>0cd40022-3c35-3b40-0000-000000000000</parentGroupId>
            <position>
                <x>0.0</x>
                <y>0.0</y>
            </position>
            <comments></comments>
            <contents>
                <connections>
                    <id>0198a6a5-67a7-300c-0000-000000000000</id>
                    <parentGroupId>f82ae498-d34f-351a-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <bends>
                        <x>1813.0</x>
                        <y>799.0</y>
                    </bends>
                    <bends>
                        <x>1928.0</x>
                        <y>856.0</y>
                    </bends>
                    <destination>
                        <groupId>f82ae498-d34f-351a-0000-000000000000</groupId>
                        <id>dd7a6272-0521-37e6-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>retry</selectedRelationships>
                    <source>
                        <groupId>f82ae498-d34f-351a-0000-000000000000</groupId>
                        <id>dd7a6272-0521-37e6-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>2d585b7b-c980-376c-0000-000000000000</id>
                    <parentGroupId>f82ae498-d34f-351a-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>f82ae498-d34f-351a-0000-000000000000</groupId>
                        <id>9bff330e-0faf-3bac-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>f82ae498-d34f-351a-0000-000000000000</groupId>
                        <id>b970adfb-0c31-3f6e-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>5ba7d39a-76bc-3628-0000-000000000000</id>
                    <parentGroupId>f82ae498-d34f-351a-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>f82ae498-d34f-351a-0000-000000000000</groupId>
                        <id>cca903aa-51b6-3ec7-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>f82ae498-d34f-351a-0000-000000000000</groupId>
                        <id>dd7a6272-0521-37e6-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>8267b71d-d515-36c3-0000-000000000000</id>
                    <parentGroupId>f82ae498-d34f-351a-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>f82ae498-d34f-351a-0000-000000000000</groupId>
                        <id>dd7a6272-0521-37e6-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>sql</selectedRelationships>
                    <source>
                        <groupId>f82ae498-d34f-351a-0000-000000000000</groupId>
                        <id>05ea89c2-d733-3dba-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>ba7cde26-cd71-3e02-0000-000000000000</id>
                    <parentGroupId>f82ae498-d34f-351a-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>f82ae498-d34f-351a-0000-000000000000</groupId>
                        <id>05ea89c2-d733-3dba-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>success</selectedRelationships>
                    <source>
                        <groupId>f82ae498-d34f-351a-0000-000000000000</groupId>
                        <id>9bff330e-0faf-3bac-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>ce02c175-ef99-390e-0000-000000000000</id>
                    <parentGroupId>f82ae498-d34f-351a-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>f82ae498-d34f-351a-0000-000000000000</groupId>
                        <id>7fc93186-6b6f-363e-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>original</selectedRelationships>
                    <source>
                        <groupId>f82ae498-d34f-351a-0000-000000000000</groupId>
                        <id>05ea89c2-d733-3dba-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>d6dc7fea-6357-326e-0000-000000000000</id>
                    <parentGroupId>f82ae498-d34f-351a-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>f82ae498-d34f-351a-0000-000000000000</groupId>
                        <id>dbb30bde-9a8f-30bf-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>failure</selectedRelationships>
                    <source>
                        <groupId>f82ae498-d34f-351a-0000-000000000000</groupId>
                        <id>05ea89c2-d733-3dba-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <connections>
                    <id>dd685d15-3425-3c6d-0000-000000000000</id>
                    <parentGroupId>f82ae498-d34f-351a-0000-000000000000</parentGroupId>
                    <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                    <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                    <destination>
                        <groupId>f82ae498-d34f-351a-0000-000000000000</groupId>
                        <id>15793189-0c3c-339f-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </destination>
                    <flowFileExpiration>0 sec</flowFileExpiration>
                    <labelIndex>1</labelIndex>
                    <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                    <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                    <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                    <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                    <name></name>
                    <selectedRelationships>failure</selectedRelationships>
                    <source>
                        <groupId>f82ae498-d34f-351a-0000-000000000000</groupId>
                        <id>9bff330e-0faf-3bac-0000-000000000000</id>
                        <type>PROCESSOR</type>
                    </source>
                    <zIndex>0</zIndex>
                </connections>
                <processGroups>
                    <id>63b5ccb2-b91b-3476-0000-000000000000</id>
                    <parentGroupId>f82ae498-d34f-351a-0000-000000000000</parentGroupId>
                    <position>
                        <x>480.0</x>
                        <y>136.0</y>
                    </position>
                    <comments></comments>
                    <contents>
                        <connections>
                            <id>5aa6e36d-8756-30f6-0000-000000000000</id>
                            <parentGroupId>63b5ccb2-b91b-3476-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>63b5ccb2-b91b-3476-0000-000000000000</groupId>
<id>13760dc7-1965-3dcb-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>failure</selectedRelationships>
                            <source>
<groupId>63b5ccb2-b91b-3476-0000-000000000000</groupId>
<id>73227b50-9b95-36aa-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>bec26751-50e1-3f99-0000-000000000000</id>
                            <parentGroupId>63b5ccb2-b91b-3476-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>63b5ccb2-b91b-3476-0000-000000000000</groupId>
<id>73227b50-9b95-36aa-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>63b5ccb2-b91b-3476-0000-000000000000</groupId>
<id>8e650477-1047-370e-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <connections>
                            <id>c358d753-7fee-33d8-0000-000000000000</id>
                            <parentGroupId>63b5ccb2-b91b-3476-0000-000000000000</parentGroupId>
                            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
                            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
                            <destination>
<groupId>63b5ccb2-b91b-3476-0000-000000000000</groupId>
<id>8b1e44cc-d760-3a5b-0000-000000000000</id>
<type>PROCESSOR</type>
                            </destination>
                            <flowFileExpiration>0 sec</flowFileExpiration>
                            <labelIndex>1</labelIndex>
                            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
                            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
                            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
                            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
                            <name></name>
                            <selectedRelationships>success</selectedRelationships>
                            <source>
<groupId>63b5ccb2-b91b-3476-0000-000000000000</groupId>
<id>73227b50-9b95-36aa-0000-000000000000</id>
<type>PROCESSOR</type>
                            </source>
                            <zIndex>0</zIndex>
                        </connections>
                        <processors>
                            <id>13760dc7-1965-3dcb-0000-000000000000</id>
                            <parentGroupId>63b5ccb2-b91b-3476-0000-000000000000</parentGroupId>
                            <position>
<x>904.0</x>
<y>352.0</y>
                            </position>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.12.0</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Log Level</key>
        <value>
            <name>Log Level</name>
        </value>
    </entry>
    <entry>
        <key>Log Payload</key>
        <value>
            <name>Log Payload</name>
        </value>
    </entry>
    <entry>
        <key>Attributes to Log</key>
        <value>
            <name>Attributes to Log</name>
        </value>
    </entry>
    <entry>
        <key>attributes-to-log-regex</key>
        <value>
            <name>attributes-to-log-regex</name>
        </value>
    </entry>
    <entry>
        <key>Attributes to Ignore</key>
        <value>
            <name>Attributes to Ignore</name>
        </value>
    </entry>
    <entry>
        <key>attributes-to-ignore-regex</key>
        <value>
            <name>attributes-to-ignore-regex</name>
        </value>
    </entry>
    <entry>
        <key>Log prefix</key>
        <value>
            <name>Log prefix</name>
        </value>
    </entry>
    <entry>
        <key>character-set</key>
        <value>
            <name>character-set</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Log Level</key>
        <value>info</value>
    </entry>
    <entry>
        <key>Log Payload</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Attributes to Log</key>
    </entry>
    <entry>
        <key>attributes-to-log-regex</key>
        <value>.*</value>
    </entry>
    <entry>
        <key>Attributes to Ignore</key>
    </entry>
    <entry>
        <key>attributes-to-ignore-regex</key>
    </entry>
    <entry>
        <key>Log prefix</key>
    </entry>
    <entry>
        <key>character-set</key>
        <value>UTF-8</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>LogAttribute</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.LogAttribute</type>
                        </processors>
                        <processors>
                            <id>73227b50-9b95-36aa-0000-000000000000</id>
                            <parentGroupId>63b5ccb2-b91b-3476-0000-000000000000</parentGroupId>
                            <position>
<x>616.0</x>
<y>56.0</y>
                            </position>
                            <bundle>
<artifact>nifi-amqp-nar</artifact>
<group>org.apache.nifi</group>
<version>1.12.0</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Exchange Name</key>
        <value>
            <name>Exchange Name</name>
        </value>
    </entry>
    <entry>
        <key>Routing Key</key>
        <value>
            <name>Routing Key</name>
        </value>
    </entry>
    <entry>
        <key>Host Name</key>
        <value>
            <name>Host Name</name>
        </value>
    </entry>
    <entry>
        <key>Port</key>
        <value>
            <name>Port</name>
        </value>
    </entry>
    <entry>
        <key>Virtual Host</key>
        <value>
            <name>Virtual Host</name>
        </value>
    </entry>
    <entry>
        <key>User Name</key>
        <value>
            <name>User Name</name>
        </value>
    </entry>
    <entry>
        <key>Password</key>
        <value>
            <name>Password</name>
        </value>
    </entry>
    <entry>
        <key>AMQP Version</key>
        <value>
            <name>AMQP Version</name>
        </value>
    </entry>
    <entry>
        <key>ssl-context-service</key>
        <value>
            <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
            <name>ssl-context-service</name>
        </value>
    </entry>
    <entry>
        <key>cert-authentication</key>
        <value>
            <name>cert-authentication</name>
        </value>
    </entry>
    <entry>
        <key>ssl-client-auth</key>
        <value>
            <name>ssl-client-auth</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Exchange Name</key>
        <value>amq.topic</value>
    </entry>
    <entry>
        <key>Routing Key</key>
        <value>from.nifi</value>
    </entry>
    <entry>
        <key>Host Name</key>
        <value>rabbitmq</value>
    </entry>
    <entry>
        <key>Port</key>
        <value>5672</value>
    </entry>
    <entry>
        <key>Virtual Host</key>
    </entry>
    <entry>
        <key>User Name</key>
        <value>guest</value>
    </entry>
    <entry>
        <key>Password</key>
    </entry>
    <entry>
        <key>AMQP Version</key>
        <value>0.9.1</value>
    </entry>
    <entry>
        <key>ssl-context-service</key>
    </entry>
    <entry>
        <key>cert-authentication</key>
        <value>false</value>
    </entry>
    <entry>
        <key>ssl-client-auth</key>
        <value>NONE</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>PublishAMQP</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>failure</name>
                            </relationships>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.amqp.processors.PublishAMQP</type>
                        </processors>
                        <processors>
                            <id>8b1e44cc-d760-3a5b-0000-000000000000</id>
                            <parentGroupId>63b5ccb2-b91b-3476-0000-000000000000</parentGroupId>
                            <position>
<x>408.0</x>
<y>352.0</y>
                            </position>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.12.0</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>Log Level</key>
        <value>
            <name>Log Level</name>
        </value>
    </entry>
    <entry>
        <key>Log Payload</key>
        <value>
            <name>Log Payload</name>
        </value>
    </entry>
    <entry>
        <key>Attributes to Log</key>
        <value>
            <name>Attributes to Log</name>
        </value>
    </entry>
    <entry>
        <key>attributes-to-log-regex</key>
        <value>
            <name>attributes-to-log-regex</name>
        </value>
    </entry>
    <entry>
        <key>Attributes to Ignore</key>
        <value>
            <name>Attributes to Ignore</name>
        </value>
    </entry>
    <entry>
        <key>attributes-to-ignore-regex</key>
        <value>
            <name>attributes-to-ignore-regex</name>
        </value>
    </entry>
    <entry>
        <key>Log prefix</key>
        <value>
            <name>Log prefix</name>
        </value>
    </entry>
    <entry>
        <key>character-set</key>
        <value>
            <name>character-set</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>Log Level</key>
        <value>info</value>
    </entry>
    <entry>
        <key>Log Payload</key>
        <value>false</value>
    </entry>
    <entry>
        <key>Attributes to Log</key>
    </entry>
    <entry>
        <key>attributes-to-log-regex</key>
        <value>.*</value>
    </entry>
    <entry>
        <key>Attributes to Ignore</key>
    </entry>
    <entry>
        <key>attributes-to-ignore-regex</key>
    </entry>
    <entry>
        <key>Log prefix</key>
    </entry>
    <entry>
        <key>character-set</key>
        <value>UTF-8</value>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>0 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>LogAttribute</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.LogAttribute</type>
                        </processors>
                        <processors>
                            <id>8e650477-1047-370e-0000-000000000000</id>
                            <parentGroupId>63b5ccb2-b91b-3476-0000-000000000000</parentGroupId>
                            <position>
<x>616.0</x>
<y>-208.0</y>
                            </position>
                            <bundle>
<artifact>nifi-standard-nar</artifact>
<group>org.apache.nifi</group>
<version>1.12.0</version>
                            </bundle>
                            <config>
<bulletinLevel>WARN</bulletinLevel>
<comments></comments>
<concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
<descriptors>
    <entry>
        <key>File Size</key>
        <value>
            <name>File Size</name>
        </value>
    </entry>
    <entry>
        <key>Batch Size</key>
        <value>
            <name>Batch Size</name>
        </value>
    </entry>
    <entry>
        <key>Data Format</key>
        <value>
            <name>Data Format</name>
        </value>
    </entry>
    <entry>
        <key>Unique FlowFiles</key>
        <value>
            <name>Unique FlowFiles</name>
        </value>
    </entry>
    <entry>
        <key>generate-ff-custom-text</key>
        <value>
            <name>generate-ff-custom-text</name>
        </value>
    </entry>
    <entry>
        <key>character-set</key>
        <value>
            <name>character-set</name>
        </value>
    </entry>
    <entry>
        <key>mime-type</key>
        <value>
            <name>mime-type</name>
        </value>
    </entry>
</descriptors>
<executionNode>ALL</executionNode>
<lossTolerant>false</lossTolerant>
<penaltyDuration>30 sec</penaltyDuration>
<properties>
    <entry>
        <key>File Size</key>
        <value>0B</value>
    </entry>
    <entry>
        <key>Batch Size</key>
        <value>1</value>
    </entry>
    <entry>
        <key>Data Format</key>
        <value>Text</value>
    </entry>
    <entry>
        <key>Unique FlowFiles</key>
        <value>false</value>
    </entry>
    <entry>
        <key>generate-ff-custom-text</key>
        <value>[{
    "uuid": "${UUID()}",
    "publishedTime": "${now():format("dd/MM/yyyy HH:mm:ss.SSS")}",
    "isActive": "${random():mod(10):gt(5)}",
    "age": ${random():mod(90)},
    "name": "Person ${random():mod(10):plus(2)}"
}]</value>
    </entry>
    <entry>
        <key>character-set</key>
        <value>UTF-8</value>
    </entry>
    <entry>
        <key>mime-type</key>
    </entry>
</properties>
<runDurationMillis>0</runDurationMillis>
<schedulingPeriod>5 sec</schedulingPeriod>
<schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
<yieldDuration>1 sec</yieldDuration>
                            </config>
                            <executionNodeRestricted>false</executionNodeRestricted>
                            <name>GenerateFlowFile</name>
                            <relationships>
<autoTerminate>false</autoTerminate>
<name>success</name>
                            </relationships>
                            <state>STOPPED</state>
                            <style/>
                            <type>org.apache.nifi.processors.standard.GenerateFlowFile</type>
                        </processors>
                    </contents>
                    <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
                    <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
                    <name>RabbitMQ Publisher</name>
                    <variables/>
                </processGroups>
                <processors>
                    <id>05ea89c2-d733-3dba-0000-000000000000</id>
                    <parentGroupId>f82ae498-d34f-351a-0000-000000000000</parentGroupId>
                    <position>
                        <x>1304.0</x>
                        <y>488.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.12.0</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>JDBC Connection Pool</key>
<value>
    <identifiesControllerService>org.apache.nifi.dbcp.DBCPService</identifiesControllerService>
    <name>JDBC Connection Pool</name>
</value>
                            </entry>
                            <entry>
<key>Statement Type</key>
<value>
    <name>Statement Type</name>
</value>
                            </entry>
                            <entry>
<key>Table Name</key>
<value>
    <name>Table Name</name>
</value>
                            </entry>
                            <entry>
<key>Catalog Name</key>
<value>
    <name>Catalog Name</name>
</value>
                            </entry>
                            <entry>
<key>Schema Name</key>
<value>
    <name>Schema Name</name>
</value>
                            </entry>
                            <entry>
<key>Translate Field Names</key>
<value>
    <name>Translate Field Names</name>
</value>
                            </entry>
                            <entry>
<key>Unmatched Field Behavior</key>
<value>
    <name>Unmatched Field Behavior</name>
</value>
                            </entry>
                            <entry>
<key>Unmatched Column Behavior</key>
<value>
    <name>Unmatched Column Behavior</name>
</value>
                            </entry>
                            <entry>
<key>Update Keys</key>
<value>
    <name>Update Keys</name>
</value>
                            </entry>
                            <entry>
<key>jts-quoted-identifiers</key>
<value>
    <name>jts-quoted-identifiers</name>
</value>
                            </entry>
                            <entry>
<key>jts-quoted-table-identifiers</key>
<value>
    <name>jts-quoted-table-identifiers</name>
</value>
                            </entry>
                            <entry>
<key>jts-sql-param-attr-prefix</key>
<value>
    <name>jts-sql-param-attr-prefix</name>
</value>
                            </entry>
                            <entry>
<key>table-schema-cache-size</key>
<value>
    <name>table-schema-cache-size</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>JDBC Connection Pool</key>
<value>74b96cb3-183e-39ac-0000-000000000000</value>
                            </entry>
                            <entry>
<key>Statement Type</key>
<value>INSERT</value>
                            </entry>
                            <entry>
<key>Table Name</key>
<value>person</value>
                            </entry>
                            <entry>
<key>Catalog Name</key>
                            </entry>
                            <entry>
<key>Schema Name</key>
                            </entry>
                            <entry>
<key>Translate Field Names</key>
<value>true</value>
                            </entry>
                            <entry>
<key>Unmatched Field Behavior</key>
<value>Ignore Unmatched Fields</value>
                            </entry>
                            <entry>
<key>Unmatched Column Behavior</key>
<value>Ignore Unmatched Columns</value>
                            </entry>
                            <entry>
<key>Update Keys</key>
                            </entry>
                            <entry>
<key>jts-quoted-identifiers</key>
<value>false</value>
                            </entry>
                            <entry>
<key>jts-quoted-table-identifiers</key>
<value>false</value>
                            </entry>
                            <entry>
<key>jts-sql-param-attr-prefix</key>
<value>sql</value>
                            </entry>
                            <entry>
<key>table-schema-cache-size</key>
<value>100</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>ConvertJSONToSQL</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>original</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>sql</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.ConvertJSONToSQL</type>
                </processors>
                <processors>
                    <id>15793189-0c3c-339f-0000-000000000000</id>
                    <parentGroupId>f82ae498-d34f-351a-0000-000000000000</parentGroupId>
                    <position>
                        <x>480.0</x>
                        <y>760.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.12.0</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Log Level</key>
<value>
    <name>Log Level</name>
</value>
                            </entry>
                            <entry>
<key>Log Payload</key>
<value>
    <name>Log Payload</name>
</value>
                            </entry>
                            <entry>
<key>Attributes to Log</key>
<value>
    <name>Attributes to Log</name>
</value>
                            </entry>
                            <entry>
<key>attributes-to-log-regex</key>
<value>
    <name>attributes-to-log-regex</name>
</value>
                            </entry>
                            <entry>
<key>Attributes to Ignore</key>
<value>
    <name>Attributes to Ignore</name>
</value>
                            </entry>
                            <entry>
<key>attributes-to-ignore-regex</key>
<value>
    <name>attributes-to-ignore-regex</name>
</value>
                            </entry>
                            <entry>
<key>Log prefix</key>
<value>
    <name>Log prefix</name>
</value>
                            </entry>
                            <entry>
<key>character-set</key>
<value>
    <name>character-set</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Log Level</key>
<value>info</value>
                            </entry>
                            <entry>
<key>Log Payload</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Attributes to Log</key>
                            </entry>
                            <entry>
<key>attributes-to-log-regex</key>
<value>.*</value>
                            </entry>
                            <entry>
<key>Attributes to Ignore</key>
                            </entry>
                            <entry>
<key>attributes-to-ignore-regex</key>
                            </entry>
                            <entry>
<key>Log prefix</key>
                            </entry>
                            <entry>
<key>character-set</key>
<value>UTF-8</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>LogAttribute</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.LogAttribute</type>
                </processors>
                <processors>
                    <id>7fc93186-6b6f-363e-0000-000000000000</id>
                    <parentGroupId>f82ae498-d34f-351a-0000-000000000000</parentGroupId>
                    <position>
                        <x>1992.0</x>
                        <y>536.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.12.0</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Log Level</key>
<value>
    <name>Log Level</name>
</value>
                            </entry>
                            <entry>
<key>Log Payload</key>
<value>
    <name>Log Payload</name>
</value>
                            </entry>
                            <entry>
<key>Attributes to Log</key>
<value>
    <name>Attributes to Log</name>
</value>
                            </entry>
                            <entry>
<key>attributes-to-log-regex</key>
<value>
    <name>attributes-to-log-regex</name>
</value>
                            </entry>
                            <entry>
<key>Attributes to Ignore</key>
<value>
    <name>Attributes to Ignore</name>
</value>
                            </entry>
                            <entry>
<key>attributes-to-ignore-regex</key>
<value>
    <name>attributes-to-ignore-regex</name>
</value>
                            </entry>
                            <entry>
<key>Log prefix</key>
<value>
    <name>Log prefix</name>
</value>
                            </entry>
                            <entry>
<key>character-set</key>
<value>
    <name>character-set</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Log Level</key>
<value>info</value>
                            </entry>
                            <entry>
<key>Log Payload</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Attributes to Log</key>
                            </entry>
                            <entry>
<key>attributes-to-log-regex</key>
<value>.*</value>
                            </entry>
                            <entry>
<key>Attributes to Ignore</key>
                            </entry>
                            <entry>
<key>attributes-to-ignore-regex</key>
                            </entry>
                            <entry>
<key>Log prefix</key>
                            </entry>
                            <entry>
<key>character-set</key>
<value>UTF-8</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>LogAttribute</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.LogAttribute</type>
                </processors>
                <processors>
                    <id>9bff330e-0faf-3bac-0000-000000000000</id>
                    <parentGroupId>f82ae498-d34f-351a-0000-000000000000</parentGroupId>
                    <position>
                        <x>952.0</x>
                        <y>248.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.12.0</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>jolt-transform</key>
<value>
    <name>jolt-transform</name>
</value>
                            </entry>
                            <entry>
<key>jolt-custom-class</key>
<value>
    <name>jolt-custom-class</name>
</value>
                            </entry>
                            <entry>
<key>jolt-custom-modules</key>
<value>
    <name>jolt-custom-modules</name>
</value>
                            </entry>
                            <entry>
<key>jolt-spec</key>
<value>
    <name>jolt-spec</name>
</value>
                            </entry>
                            <entry>
<key>Transform Cache Size</key>
<value>
    <name>Transform Cache Size</name>
</value>
                            </entry>
                            <entry>
<key>pretty_print</key>
<value>
    <name>pretty_print</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>jolt-transform</key>
<value>jolt-transform-chain</value>
                            </entry>
                            <entry>
<key>jolt-custom-class</key>
                            </entry>
                            <entry>
<key>jolt-custom-modules</key>
                            </entry>
                            <entry>
<key>jolt-spec</key>
<value>[{
  "operation": "default",
  "spec": {
    "*": {
      "consumedTime": "${now():format("dd/MM/yyyy HH:mm:ss.SSS")}"
    }
  }
}]</value>
                            </entry>
                            <entry>
<key>Transform Cache Size</key>
<value>1</value>
                            </entry>
                            <entry>
<key>pretty_print</key>
<value>false</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>JoltTransformJSON</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.JoltTransformJSON</type>
                </processors>
                <processors>
                    <id>b970adfb-0c31-3f6e-0000-000000000000</id>
                    <parentGroupId>f82ae498-d34f-351a-0000-000000000000</parentGroupId>
                    <position>
                        <x>944.0</x>
                        <y>-72.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-amqp-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.12.0</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Queue</key>
<value>
    <name>Queue</name>
</value>
                            </entry>
                            <entry>
<key>auto.acknowledge</key>
<value>
    <name>auto.acknowledge</name>
</value>
                            </entry>
                            <entry>
<key>batch.size</key>
<value>
    <name>batch.size</name>
</value>
                            </entry>
                            <entry>
<key>Host Name</key>
<value>
    <name>Host Name</name>
</value>
                            </entry>
                            <entry>
<key>Port</key>
<value>
    <name>Port</name>
</value>
                            </entry>
                            <entry>
<key>Virtual Host</key>
<value>
    <name>Virtual Host</name>
</value>
                            </entry>
                            <entry>
<key>User Name</key>
<value>
    <name>User Name</name>
</value>
                            </entry>
                            <entry>
<key>Password</key>
<value>
    <name>Password</name>
</value>
                            </entry>
                            <entry>
<key>AMQP Version</key>
<value>
    <name>AMQP Version</name>
</value>
                            </entry>
                            <entry>
<key>ssl-context-service</key>
<value>
    <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
    <name>ssl-context-service</name>
</value>
                            </entry>
                            <entry>
<key>cert-authentication</key>
<value>
    <name>cert-authentication</name>
</value>
                            </entry>
                            <entry>
<key>ssl-client-auth</key>
<value>
    <name>ssl-client-auth</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Queue</key>
<value>nifi</value>
                            </entry>
                            <entry>
<key>auto.acknowledge</key>
<value>false</value>
                            </entry>
                            <entry>
<key>batch.size</key>
<value>10</value>
                            </entry>
                            <entry>
<key>Host Name</key>
<value>rabbitmq</value>
                            </entry>
                            <entry>
<key>Port</key>
<value>5672</value>
                            </entry>
                            <entry>
<key>Virtual Host</key>
                            </entry>
                            <entry>
<key>User Name</key>
<value>guest</value>
                            </entry>
                            <entry>
<key>Password</key>
                            </entry>
                            <entry>
<key>AMQP Version</key>
<value>0.9.1</value>
                            </entry>
                            <entry>
<key>ssl-context-service</key>
                            </entry>
                            <entry>
<key>cert-authentication</key>
<value>false</value>
                            </entry>
                            <entry>
<key>ssl-client-auth</key>
<value>NONE</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>ConsumeAMQP</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.amqp.processors.ConsumeAMQP</type>
                </processors>
                <processors>
                    <id>cca903aa-51b6-3ec7-0000-000000000000</id>
                    <parentGroupId>f82ae498-d34f-351a-0000-000000000000</parentGroupId>
                    <position>
                        <x>1344.0</x>
                        <y>1024.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.12.0</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Log Level</key>
<value>
    <name>Log Level</name>
</value>
                            </entry>
                            <entry>
<key>Log Payload</key>
<value>
    <name>Log Payload</name>
</value>
                            </entry>
                            <entry>
<key>Attributes to Log</key>
<value>
    <name>Attributes to Log</name>
</value>
                            </entry>
                            <entry>
<key>attributes-to-log-regex</key>
<value>
    <name>attributes-to-log-regex</name>
</value>
                            </entry>
                            <entry>
<key>Attributes to Ignore</key>
<value>
    <name>Attributes to Ignore</name>
</value>
                            </entry>
                            <entry>
<key>attributes-to-ignore-regex</key>
<value>
    <name>attributes-to-ignore-regex</name>
</value>
                            </entry>
                            <entry>
<key>Log prefix</key>
<value>
    <name>Log prefix</name>
</value>
                            </entry>
                            <entry>
<key>character-set</key>
<value>
    <name>character-set</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Log Level</key>
<value>info</value>
                            </entry>
                            <entry>
<key>Log Payload</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Attributes to Log</key>
                            </entry>
                            <entry>
<key>attributes-to-log-regex</key>
<value>.*</value>
                            </entry>
                            <entry>
<key>Attributes to Ignore</key>
                            </entry>
                            <entry>
<key>attributes-to-ignore-regex</key>
                            </entry>
                            <entry>
<key>Log prefix</key>
                            </entry>
                            <entry>
<key>character-set</key>
<value>UTF-8</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>LogAttribute</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.LogAttribute</type>
                </processors>
                <processors>
                    <id>dbb30bde-9a8f-30bf-0000-000000000000</id>
                    <parentGroupId>f82ae498-d34f-351a-0000-000000000000</parentGroupId>
                    <position>
                        <x>1776.0</x>
                        <y>288.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.12.0</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>Log Level</key>
<value>
    <name>Log Level</name>
</value>
                            </entry>
                            <entry>
<key>Log Payload</key>
<value>
    <name>Log Payload</name>
</value>
                            </entry>
                            <entry>
<key>Attributes to Log</key>
<value>
    <name>Attributes to Log</name>
</value>
                            </entry>
                            <entry>
<key>attributes-to-log-regex</key>
<value>
    <name>attributes-to-log-regex</name>
</value>
                            </entry>
                            <entry>
<key>Attributes to Ignore</key>
<value>
    <name>Attributes to Ignore</name>
</value>
                            </entry>
                            <entry>
<key>attributes-to-ignore-regex</key>
<value>
    <name>attributes-to-ignore-regex</name>
</value>
                            </entry>
                            <entry>
<key>Log prefix</key>
<value>
    <name>Log prefix</name>
</value>
                            </entry>
                            <entry>
<key>character-set</key>
<value>
    <name>character-set</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>Log Level</key>
<value>info</value>
                            </entry>
                            <entry>
<key>Log Payload</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Attributes to Log</key>
                            </entry>
                            <entry>
<key>attributes-to-log-regex</key>
<value>.*</value>
                            </entry>
                            <entry>
<key>Attributes to Ignore</key>
                            </entry>
                            <entry>
<key>attributes-to-ignore-regex</key>
                            </entry>
                            <entry>
<key>Log prefix</key>
                            </entry>
                            <entry>
<key>character-set</key>
<value>UTF-8</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>LogAttribute</name>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.LogAttribute</type>
                </processors>
                <processors>
                    <id>dd7a6272-0521-37e6-0000-000000000000</id>
                    <parentGroupId>f82ae498-d34f-351a-0000-000000000000</parentGroupId>
                    <position>
                        <x>1344.0</x>
                        <y>760.0</y>
                    </position>
                    <bundle>
                        <artifact>nifi-standard-nar</artifact>
                        <group>org.apache.nifi</group>
                        <version>1.12.0</version>
                    </bundle>
                    <config>
                        <bulletinLevel>WARN</bulletinLevel>
                        <comments></comments>
                        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                        <descriptors>
                            <entry>
<key>JDBC Connection Pool</key>
<value>
    <identifiesControllerService>org.apache.nifi.dbcp.DBCPService</identifiesControllerService>
    <name>JDBC Connection Pool</name>
</value>
                            </entry>
                            <entry>
<key>putsql-sql-statement</key>
<value>
    <name>putsql-sql-statement</name>
</value>
                            </entry>
                            <entry>
<key>Support Fragmented Transactions</key>
<value>
    <name>Support Fragmented Transactions</name>
</value>
                            </entry>
                            <entry>
<key>database-session-autocommit</key>
<value>
    <name>database-session-autocommit</name>
</value>
                            </entry>
                            <entry>
<key>Transaction Timeout</key>
<value>
    <name>Transaction Timeout</name>
</value>
                            </entry>
                            <entry>
<key>Batch Size</key>
<value>
    <name>Batch Size</name>
</value>
                            </entry>
                            <entry>
<key>Obtain Generated Keys</key>
<value>
    <name>Obtain Generated Keys</name>
</value>
                            </entry>
                            <entry>
<key>rollback-on-failure</key>
<value>
    <name>rollback-on-failure</name>
</value>
                            </entry>
                        </descriptors>
                        <executionNode>ALL</executionNode>
                        <lossTolerant>false</lossTolerant>
                        <penaltyDuration>30 sec</penaltyDuration>
                        <properties>
                            <entry>
<key>JDBC Connection Pool</key>
<value>74b96cb3-183e-39ac-0000-000000000000</value>
                            </entry>
                            <entry>
<key>putsql-sql-statement</key>
                            </entry>
                            <entry>
<key>Support Fragmented Transactions</key>
<value>true</value>
                            </entry>
                            <entry>
<key>database-session-autocommit</key>
<value>false</value>
                            </entry>
                            <entry>
<key>Transaction Timeout</key>
                            </entry>
                            <entry>
<key>Batch Size</key>
<value>100</value>
                            </entry>
                            <entry>
<key>Obtain Generated Keys</key>
<value>false</value>
                            </entry>
                            <entry>
<key>rollback-on-failure</key>
<value>false</value>
                            </entry>
                        </properties>
                        <runDurationMillis>0</runDurationMillis>
                        <schedulingPeriod>0 sec</schedulingPeriod>
                        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                        <yieldDuration>1 sec</yieldDuration>
                    </config>
                    <executionNodeRestricted>false</executionNodeRestricted>
                    <name>PutSQL</name>
                    <relationships>
                        <autoTerminate>true</autoTerminate>
                        <name>failure</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>retry</name>
                    </relationships>
                    <relationships>
                        <autoTerminate>false</autoTerminate>
                        <name>success</name>
                    </relationships>
                    <state>STOPPED</state>
                    <style/>
                    <type>org.apache.nifi.processors.standard.PutSQL</type>
                </processors>
            </contents>
            <flowfileConcurrency>UNBOUNDED</flowfileConcurrency>
            <flowfileOutboundPolicy>STREAM_WHEN_AVAILABLE</flowfileOutboundPolicy>
            <name>RabbitMQ + Postgres</name>
            <variables/>
        </processGroups>
    </snippet>
    <timestamp>09/27/2020 17:31:47 UTC</timestamp>
</template>
